{
    "forEach": "interfaces",
    "filename": "packages/comp-{{kebabCase name}}-badge/tsconfig.json",
    "formatUsing": "json"
}
---
{
    "compilerOptions": {
        "target": "ES2015",
        "module": "ES2015",
        "moduleResolution": "Node",
        "allowSyntheticDefaultImports": true,
        "skipLibCheck": true,
        "jsx": "react-native"
    },
    "include": ["src/**/*.ts", "src/**/*.tsx"],
    "exclude": ["node_modules"]
}