{
    "forEach": "interfaces",
    "filename": "packages/comp-{{kebabCase name}}-tile/package.json",
    "formatUsing": "json"
}
---
{
    "name": "comp-{{kebabCase name}}-tile",
    "description": "Tile component for the {{capitalCase name}} interface",
    "version": "0.0.1",
    "private": true,
    "main": "src/index.tsx",
    "dependencies": {
        "react": "*",
        "classnames": "*"
    }
}
